/* Загальні утиліти */
:root {
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA; 
    --tertiary-bg-and-text-color: #FFFFFF; 
    --primary-accent-bg-and-text-color: #2196F3;
    --secondary-accent-bg-color: #188CE8;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-style: normal;
    display: block;
}
img {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--tertiary-bg-and-text-color);
    letter-spacing: 0.03em;
}

.container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

/* ------------- Header & Footer ---------------- */
.header-container {
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wrap {
    display: flex;
    align-items: center;
}
.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

/* Логотип */
.logo {
    color: var(--primary-accent-bg-and-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
}
.logo>.logo-header-item {
    color: #000000;
}
.logo>.logo-footer-item {
    color: var(--tertiary-bg-and-text-color);
}

/* Панель навігації обох сторінок*/
.nav {
    display: flex;
    gap: 50px;
}

.nav-link {
    position: relative;
    color: var(--primary-text-color);
    transition: color 250ms var(--transition-timing-function);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link.current {
    color: var(--primary-accent-bg-and-text-color);  
}
.nav-link:hover,
.nav-link:focus {
    color: var(--primary-accent-bg-and-text-color); 
}

.nav-link.current::after {
    position: absolute;
    left: 0;
    bottom: -33px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-accent-bg-and-text-color);
    border-radius: 2px;
    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function);
}

/* Адреса та контакти */

.header-contacts {
    display: flex; 
    gap: 50px;  
    margin-left: auto;
}

.header-contact-link {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    transition: color 250ms var(--transition-timing-function);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
}
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--primary-accent-bg-and-text-color);
}

.icon-envelope {
    fill: currentColor;
    margin-right: 10px;
}
.icon-envelope:hover,
.icon-envelope:focus {
    fill: var(--primary-accent-bg-and-text-color);
}

.icon-smartphone {
    fill: currentColor;
    margin-right: 10px;
}
.icon-smartphone:hover,
.icon-smartphone:focus {
    fill: var(--primary-accent-bg-and-text-color);
} 


.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer-wrap {
    display: flex;
    align-items: baseline;
}
.adress-wrap {
    margin-top: 20px;
}
.address-link {
    color: var(--tertiary-bg-and-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.footer-contact-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--transition-timing-function);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    padding-top: 9px;
}
.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--primary-accent-bg-and-text-color);
}

.social-networks-wrap {
    margin-left: 70px;
}
.social-networks-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tertiary-bg-and-text-color);
    padding-top: 12px;
    margin-bottom: 20px;
}
.footer-social-network-item a {
    height: 44px;
    width: 44px;
    padding: 12px;
    border-radius: 50%;
    fill: var(--tertiary-bg-and-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--transition-timing-function);
}
.footer-social-network-item a:hover,
.footer-social-network-item a:focus {
    background-color: var(--primary-accent-bg-and-text-color);
}

/* Підписка на розсилку */
.signup-form-wrap {
    margin-left: 93px;
    width: 100%;
}

.footer-signup-call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tertiary-bg-and-text-color);
    margin-bottom: 20px;
}

.footer-signup-form-input {
    width: 345px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
    transition: outline-color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}
.footer-signup-form-input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25px;
}
.footer-signup-form-input:focus-within {
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-signup-btn-wrap {
    position: relative;
    width: 200px;
    height: 50px;
    display: inline-block;
}
.footer-signup-btn {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--primary-accent-bg-and-text-color);
    color: var(--tertiary-bg-and-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding-right: 62px;
}
.footer-signup-btn-icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}
/* ---------------------- Кнопки ----------------------------- */

/* Кнопка сторінки Студія (герой) */
.studio-button {
    color: var(--tertiary-bg-and-text-color);
    background-color: var(--primary-accent-bg-and-text-color);
    transition: background-color 250ms var(--transition-timing-function);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    min-width: 216px;
    height: 50px;  
    display: block;
    margin: 0 auto;  
}
.studio-button:hover,
.studio-button:focus {
    background-color: var(--secondary-accent-bg-color);
}

/* Кнопки сторінки Портфоліо */
.portfolio-buttons-section {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-button {
    background-color: var(--secondary-bg-color);
    transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;

}
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--tertiary-bg-and-text-color);
    background-color: var(--primary-accent-bg-and-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------- Сторінка Студія -----------------*/ 
/*Hero*/
.hero-container {
    height: 600px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url('../images/hero.jpg');
    background-color: #2F303A;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px; 
    padding-bottom: 200px;
}
.hero-title {
    color: var(--tertiary-bg-and-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 30px auto;
}
/* Модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--transition-timing-function);
    z-index: 1;
}
.backdrop.is-hidden {
    opacity: 0;
    transition: opacity 250ms var(--transition-timing-function);
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9); 
    transition: transform 250ms var(--transition-timing-function);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--tertiary-bg-and-text-color);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--transition-timing-function);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--tertiary-bg-and-text-color);
    transition: fill 250ms var(--transition-timing-function);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    cursor: pointer;
    fill: var(--primary-accent-bg-and-text-color);
}
/* Форма модального вікна */
.application-form {
    padding: 40px;
}
.form-header {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
}
.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.label-text {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}
.form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    display: block;
    width: 100%;
    padding-left: 42px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: currentColor;
    transition: border-color 250ms var(--transition-timing-function), outline-color 250ms var(--transition-timing-function);
}
.input-wrapper {
    position: relative;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%); 
    transition: border-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}
.form-icon:hover,
.form-icon:focus {
    fill: var(--primary-accent-bg-and-text-color);
}
.form-input:hover + .form-icon,
.form-input:focus +.form-icon {
    fill: var(--primary-accent-bg-and-text-color);
}
.form-input:hover,
.form-input:focus {
    border-color: var(--primary-accent-bg-and-text-color);
}
.form-input:focus-within {
    border: none;
    outline: 1px solid var(--primary-accent-bg-and-text-color);
}
.form-comment {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: currentColor;
    transition: border-color 250ms var(--transition-timing-function), outline-color 250ms var(--transition-timing-function);
}
.form-comment:hover,
.form-comment:focus {
    border-color: var(--primary-accent-bg-and-text-color);
}
.form-comment:focus-within {
    border: none;
    outline: 1px solid var(--primary-accent-bg-and-text-color);
}
.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-label-terms {
    position: relative;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    padding-left: 37px;
}
.application-form-agreement-link {
    text-decoration: underline;
    color: var(--primary-accent-bg-and-text-color);
    display: inline-block;
}
.application-form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.application-form-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    transition: background-color 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}
.application-form-checkbox:checked ~ .application-form-checkbox-icon {
    background-color: var(--primary-accent-bg-and-text-color);
    border: 1px solid transparent;
}

.modal-submit-btn {
    min-width: 200px;
    height: 50px;
    background-color: var(--primary-accent-bg-and-text-color);
    transition: background-color 250ms var(--transition-timing-function);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    color: var(--tertiary-bg-and-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: block;
    font-family: inherit;
    margin: 0 auto;
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
    background-color: var(--secondary-accent-bg-color);
}

/* Цінності (переваги) студії */
.values-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.values-section-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.values-section-item {
    max-width: 270px;
}
.value-title {
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.value-desc {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}

.icon-wrap {
    background-color: var(--secondary-bg-color);
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

/* Напрями діяльності студії */

.activities-container {
    padding-bottom: 94px;
}
.activities-section-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}
.activities-section-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.activities-section-item {
    position: relative;
}
.activities-section-overley {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--tertiary-bg-and-text-color);
    background: rgba(47, 48, 58, 0.8);
}

/* Команда студії */

.team-container {
    background-color: var(--secondary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-section-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}
.team-section-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.employee-section {
    background-color: var(--tertiary-bg-and-text-color);
    width: calc((100% - 90px) / 4);
}
.employee-image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Підписи під фото */
.employee {
    padding: 30px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}
.employee-position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
}

.social-networks-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.social-network-item a {
    height: 44px;
    width: 44px;
    padding: 12px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: background-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}
.social-network-item a:hover,
.social-network-item a:focus {
    fill: var(--tertiary-bg-and-text-color);
    background-color: var(--primary-accent-bg-and-text-color);
}

/* Постійні клієнти */
.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.clients-section-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.clients-section-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
    fill: #AFB1B8;
    transition: fill 250ms var(--transition-timing-function), border 250ms var(--transition-timing-function);
}
.clients-section-item a:hover,
.clients-section-item a:focus {
    fill: var(--primary-accent-bg-and-text-color);
    border: 1px solid var(--primary-accent-bg-and-text-color);
}

/* ---------------- Сторінка Портфоліо ---------------- */
/* Перелік проектів сторінки Портоліо*/
.main-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.projects-container {
    margin-left: auto;
    margin-right: auto;
}
.projects-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}
.project-item {
    background-color: var(--tertiary-bg-and-text-color);
    width: calc((100% - 60px) / 3);
    transition: box-shadow 250ms var(--transition-timing-function);
}
.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item-image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Оверлей на картці*/
.project-item-visual {
    position: relative;
    overflow: hidden;
}
.project-overley {
    position: absolute;    
    transform: translateY(0);
    transition: transform 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);    
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.6;
}
.project-item:hover .project-overley,
.project-item:focus .project-overley {
    transform: translateY(-100%);
    color: var(--tertiary-bg-and-text-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.project-item-desc {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
}
/* Описова частина карток */
.projet-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-item-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.9;
}